<evb-button type="link" routerLink="./create">add</evb-button>

<evb-list>
  <evb-list-item *ngFor="let location of locations$ |async; trackBy: trackLocation">
      {{location.name}}

    <evb-button-bar justify="right">
      <evb-button type="icon" variant="secondary" *ngIf="location.lat && location.long" ghost="true" (click)="showInGoogleMaps(location)">
        <evb-icon name="location-marker"></evb-icon>
      </evb-button>
      <evb-button type="icon" variant="primary" ghost="true" (click)="edit(location)">
        <evb-icon name="edit"></evb-icon>
      </evb-button>
      <evb-button type="icon" variant="danger" ghost="true" (click)="delete(location)">
        <evb-icon name="delete"></evb-icon>
      </evb-button>
    </evb-button-bar>

  </evb-list-item>
</evb-list>
