<h1> Locations </h1>

<evb-button type="link" routerLink="./create">add</evb-button>

<ul>
  <li *ngFor="let location of locations$ |async; trackBy: trackLocation"
    (click)="edit(location)">
    {{location.name}}
    <div (click)="cancelEvent($event)">
      <evb-button *ngIf="location.lat && location.long" pill="true" ghost="true" (click)="showInGoogleMaps(location)">show -></evb-button>
      <evb-button variant="danger" pill="true" ghost="true" (click)="delete(location)">delete</evb-button>
    </div>
  </li>
</ul>
