
<mat-list *ngIf="inspections$ | async; let inspections">
  <ng-container *ngIf="inspections.length;  else noInspections">
    <bee-button-bar justify="center"><a mat-raised-button routerLink="add" [relativeTo]="route" >{{'add' | i18next}}</a></bee-button-bar>
    <mat-list-item *ngFor="let inspection of inspections; let i = index">
      <h3 matLine> {{inspection.date |timestamp}}</h3>
      <p matLine class="line">
        <span>{{'honey' | i18next}} {{honeyString(inspection)}}</span>
        <span>{{'queen' | i18next}} <bee-color-dot [color]="queenPresentColor(inspection)"></bee-color-dot></span>
        <span>{{'health' | i18next}} {{inspection.health}} <mat-icon aria-hidden="false" aria-label="health trend">{{trendingIconName(inspection, inspections)}}</mat-icon></span>
      </p>
    </mat-list-item>
  </ng-container>
</mat-list>

<ng-template #noInspections>
  <div class="notification">
    <h3>{{'none' | i18nextCap}} {{'inspections' | i18next: {count:2} }}</h3>
    <p><a mat-raised-button routerLink="add" [relativeTo]="route" >{{'add' | i18next}}</a></p>
  </div>
</ng-template>

