
<mat-list *ngIf="inspections$ | async; let inspections">
  <ng-container *ngIf="inspections.length;  else noInspections">
    <bee-button-bar justify="center"><a mat-raised-button routerLink="add" [relativeTo]="route" >{{'add' | i18next}}</a></bee-button-bar>
    <mat-list-item *ngFor="let inspection of inspections; let i = index" [class.selected]="selected === inspection">
      <h3 matLine (click)="select(inspection)"> {{inspection.date |timestamp}}</h3>
      <p matLine class="line" (click)="select(inspection)">
        <span>{{'honey' | i18next}} {{inspection | honeyProgress}}</span>
        <span> <mat-icon svgIcon="queen"></mat-icon> <bee-color-dot [color]="inspection | queenPresentColor"></bee-color-dot></span>
        <span> {{ inspection.health }}<mat-icon aria-hidden="false" aria-label="health trend">favorite_border</mat-icon> <mat-icon aria-hidden="false" aria-label="health trend">{{inspection | trendingIconName:inspections}}</mat-icon></span>
      </p>
      <div matLine *ngIf="inspection === selected">
        <h4>Details</h4>
        <bee-inspection-details [inspection]="inspection"></bee-inspection-details>
       </div>
    </mat-list-item>
  </ng-container>
</mat-list>

<ng-template #noInspections>
  <div class="notification">
    <h3>{{'none' | i18nextCap}} {{'inspections' | i18next: {count:2} }}</h3>
    <p><a mat-raised-button routerLink="add" [relativeTo]="route" >{{'add' | i18next}}</a></p>
  </div>
</ng-template>

