<mat-card>
  <mat-card-header>
    <mat-card-title>{{'queen' | i18nextCap: {count: 2} }}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <table mat-table matSort [dataSource]="dataSource">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'name' | i18nextCap}} </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="isMarked">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'isMarked' | i18nextCap}} </th>
        <td mat-cell *matCellDef="let element">

          <bee-color-dot *ngIf="element.isMarked" [color]="element.color"></bee-color-dot>
          <span *ngIf="!element.isMarked" >-</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="isActive">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'active' | i18nextCap}} </th>
        <td mat-cell *matCellDef="let element"> <mat-slide-toggle [checked]="element.active" [disabled]="true"></mat-slide-toggle> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="select(row)"></tr>

    </table>
  </mat-card-content>

  <mat-card-actions>
    <button mat-stroked-button color="primary" type="button" (click)="addQueen()"> {{'add' | i18nextCap}} </button>
  </mat-card-actions>

</mat-card>
