<ng-container *ngIf="hive$ | async; let hive;">

  <mat-card>
    <mat-card-header>
      <mat-card-title>{{'hive' | i18nextCap}} {{hive.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <mat-list role="list">
        <mat-list-item role="listitem" *ngIf="!dense">
          <span>{{'isActive' | i18nextCap}}</span> <mat-slide-toggle [checked]="hive.active" [disabled]="true"></mat-slide-toggle>
        </mat-list-item>
        <mat-list-item role="listitem" *ngIf="!dense">
          <span>{{'date' | i18nextCap}}</span> {{hive.date | timestamp}}
        </mat-list-item>
        <mat-list-item role="listitem" *ngIf="!dense">
          <span>{{'type' | i18nextCap}}</span> {{hive.type}}
        </mat-list-item>
        <mat-list-item role="listitem" *ngIf="!dense && hive.color">
          <span>{{'color' | i18nextCap}}</span> <bee-color-dot [color]="hive.color"></bee-color-dot>
        </mat-list-item>
        <mat-list-item role="listitem" *ngIf="!dense && hive.remarks">
          {{'remarks' | i18nextCap}} <br>
          {{hive.remarks}}
        </mat-list-item>
      </mat-list>

    </mat-card-content>
    <mat-card-actions *ngIf="!dense">
      <button mat-stroked-button (click)="back()">{{'back' | i18next}}</button>
      <button mat-stroked-button (click)="navigateToInspections()" [disabled]="!hive.active">{{'inspection' | i18next: { count: 2 } }}</button>
      <button mat-icon-button (click)="openBottomSheet(hive)">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>

  <router-outlet></router-outlet>

</ng-container>
