<ng-container *ngIf="hive$ | async; let hive;">

  <mat-card>
    <mat-card-header>
      <mat-card-title>Hive {{hive.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <mat-list role="list">
        <mat-list-item role="listitem" *ngIf="!dense">
          <span>Active</span> <mat-slide-toggle [checked]="hive.active" [disabled]="true"></mat-slide-toggle>
        </mat-list-item>
        <mat-list-item role="listitem" *ngIf="!dense">
          <span>Date</span> {{hive.date | timestamp}}
        </mat-list-item>
        <mat-list-item role="listitem" *ngIf="!dense && hive.remarks">
          Remarks <br>
          {{hive.remarks}}
        </mat-list-item>
        <mat-list-item class="qr-code-row">
          <span>QRcode</span>
          <ngx-qrcode
            [elementType]="elementType"
            [errorCorrectionLevel]="correctionLevel"
            [value]="qrValue"
            (click)="printQRcode()"
            cssClass="qr-code">
          </ngx-qrcode>
        </mat-list-item>
      </mat-list>

    </mat-card-content>
    <mat-card-actions  *ngIf="!dense">
      <button mat-stroked-button (click)="back()">back</button>
      <button mat-stroked-button (click)="navigateToEdit()">edit</button>
      <button mat-stroked-button (click)="navigateToInspections()">inspections</button>
      <button mat-stroked-button color="warn" (click)="deleteHive(hive)">delete</button>
    </mat-card-actions>
  </mat-card>

  <router-outlet></router-outlet>

</ng-container>
