
<form [formGroup]="form">

  <input type="hidden" formControlName="id" />

  <evb-formcontrol>
    <label for="name">name</label>
    <input type="text" formControlName="name" id="name" />
  </evb-formcontrol>


  <evb-formcontrol>
    <label for="color">color</label>
    <evb-colorselect formControlName="color" [colors]="colors" evbStencil></evb-colorselect>
  </evb-formcontrol>

  <evb-formcontrol>
    <label for="year">year</label>
    <input type="number" formControlName="year" id="year" [min]="currentYear - 10" [max]="currentYear" />
  </evb-formcontrol>

  <evb-formcontrol>
    <label for="wingsCut">wings cut</label>
    <evb-toggle labelon="yes" labeloff="no" type="flat" formControlName="wingsCut" evbStencil></evb-toggle>
  </evb-formcontrol>

  <evb-formcontrol *ngIf="parents?.length > 0">
    <label for="mother">mother</label>
    <select formControlName="mother" [compareWith]="compareQueens">
      <option>Choose queen</option>
      <option *ngFor="let mother of parents; trackBy: trackQueen" [ngValue]="mother">
        {{mother.name}}
      </option>
    </select>
  </evb-formcontrol>

  <evb-formcontrol>
    <label for="race">race</label>
    <input type="text" formControlName="race" id="race" list="bee-race" />

    <datalist id="bee-race">
      <option>buckfast</option>
      <option>carnica</option>
      <option>hybrid</option>
      <option>other</option>
    </datalist>
  </evb-formcontrol>

  <evb-formcontrol>
    <label for="bought">bought</label>
    <evb-toggle labelon="yes" labeloff="no" type="flat" formControlName="bought" evbStencil></evb-toggle>
  </evb-formcontrol>

  <evb-formcontrol *ngIf="form.controls.bought.value">
    <label for="boughtFrom">bought from</label>
    <textarea formControlName="boughtFrom" id="boughtFrom"></textarea>
  </evb-formcontrol>

  <evb-formcontrol>
    <label for="remarks">Remarks</label>
    <textarea formControlName="remarks" id="remarks"></textarea>
  </evb-formcontrol>

  <evb-button-bar>
    <evb-button type="link" (click)="cancelEvent.emit()">cancel</evb-button>
    <evb-button type="submit" (click)="save()" [disabled]="form.invalid || form.pristine">save</evb-button>
  </evb-button-bar>

</form>
