
<form [formGroup]="form">

  <input type="hidden" formControlName="id" />

  <evb-formcontrol>
    <label for="name">name *</label>
    <input type="text" formControlName="name" id="name" />
  </evb-formcontrol>

  <evb-formcontrol>
    <label for="number">hive number *</label>
    <input type="number" formControlName="number" id="number" />
  </evb-formcontrol>

  <evb-formcontrol>
    <label for="type">hive type</label>
    <input type="text" formControlName="type" id="type" />
  </evb-formcontrol>

  <evb-formcontrol>
    <label for="location">location</label>
    <select formControlName="location" [compareWith]="compareLocations">
      <option>Choose location</option>
      <option *ngFor="let location of locations; trackBy: trackLocation" [ngValue]="location">
        {{location.name}}
      </option>
    </select>
  </evb-formcontrol>

  <evb-button-bar>
    <evb-button type="anchor" (click)="cancelEvent.emit()">cancel</evb-button>
    <evb-button (click)="submit()" [disabled]="form.invalid || form.pristine">save</evb-button>
  </evb-button-bar>

</form>
