<section class="tiles">
  <app-tile class="location">

    <evb-icon name="location-marker" size="medium"></evb-icon>
    <div class="count">3</div>
    <evb-button ghost pill routerLink="location">locations</evb-button>
  </app-tile>

  <app-tile class="queen">
    <evb-icon name="bee" size="medium"></evb-icon>
    <div class="count">6</div>
    <evb-button ghost pill routerLink="queen">queens</evb-button>
  </app-tile>

  <app-tile class="hive">
    <evb-icon name="hive" size="medium"></evb-icon>
    <div class="count">6</div>
    <evb-button ghost pill routerLink="hive">hives</evb-button>
  </app-tile>

  <app-tile class="inspection">
    <evb-icon name="inspection" size="medium"></evb-icon>
    <div class="count gt-1000">2,000</div>
    <evb-button ghost pill routerLink="hive">hive inspection</evb-button>
  </app-tile>
</section>
