
<mat-card>
  <mat-card-header>
    <mat-card-title>Scan the Beez QR-code</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <zxing-scanner
      (camerasNotFound)="camerasNotFoundHandler($event)"
      (scanSuccess)="scanSuccessHandler($event)"
      (scanError)="scanErrorHandler($event)"
      (scanFailure)="scanFailureHandler($event)"
      (scanComplete)="scanCompleteHandler($event)">
  </zxing-scanner>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button type="button" (click)="cancel()">cancel</button>
  </mat-card-actions>
</mat-card>
