
<form [formGroup]="form">

  <div class="formcontrol">
    <label for="name">name</label>
    <input type="text" formControlName="name" id="name" />
  </div>

  <div class="formcontrol">
    <label for="number">hive number</label>
    <input type="number" formControlName="number" id="number" />
  </div>

  <div class="formcontrol">
    <label for="type">hive type</label>
    <input type="text" formControlName="type" id="type" />
  </div>

  <div class="formcontrol">
    <label for="location">location</label>
    <select formControlName="location">
      <option>Choose location</option>
      <option *ngFor="let location of locations$ | async; trackBy: trackLocation" [ngValue]="location">
        {{location.name}}
      </option>
    </select>
  </div>

  <div class="buttons">
    <a routerLink="..">cancel</a>
    <button (click)="save()" [disabled]="form.invalid || form.pristine">save</button>
  </div>

</form>
