.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar .title {
  flex: 1 1 auto;
}

.mat-toolbar img {
  align-self: end;
  border-radius: 50%;
  max-height: 4rem;
}

.mat-nav-list {
  height: 100%;
}

.logout {
  margin-top: 1rem;
  text-align: center;
}
