<ng-container *ngIf="queen$ | async; let queen;">

  <mat-card>
    <mat-card-header>
      <mat-card-title>{{'queen' | i18nextCap}} {{queen.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <mat-list role="list">
        <mat-list-item role="listitem">
          <span>{{'active' | i18nextCap}}</span> <mat-slide-toggle [checked]="queen.active" [disabled]="true"></mat-slide-toggle>
        </mat-list-item>
        <mat-list-item role="listitem" *ngIf="queen.isMarked">
          <span>{{'color' | i18nextCap}}</span> <bee-color-dot [color]="queen.color"></bee-color-dot>
        </mat-list-item>
        <mat-list-item role="listitem">
          <span>{{'date' | i18nextCap}}</span> {{queen.date | timestamp}}
        </mat-list-item>
        <mat-list-item role="listitem">
          <span>{{'isMarked' | i18nextCap}}</span> <mat-slide-toggle [checked]="queen.isMarked" [disabled]="true"></mat-slide-toggle>
        </mat-list-item>
        <mat-list-item role="listitem" *ngIf="queen.remarks">
          {{'remarks' | i18nextCap}} <br>
          {{queen.remarks}}
        </mat-list-item>
      </mat-list>

    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button (click)="back()">{{'back' | i18next}}</button>
      <button mat-icon-button (click)="openBottomSheet(queen)">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>


</ng-container>
