<ng-container *ngIf="queen$ | async; let queen;">

  <mat-card>
    <mat-card-header>
      <mat-card-title>Queen {{queen.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <mat-list role="list">
        <mat-list-item role="listitem">
          <span>Active</span> <mat-slide-toggle [checked]="queen.active" [disabled]="true"></mat-slide-toggle>
        </mat-list-item>
        <mat-list-item role="listitem" *ngIf="queen.isMarked">
          <span>Color</span> <bee-color-dot [color]="queen.color"></bee-color-dot>
        </mat-list-item>
        <mat-list-item role="listitem">
          <span>Date</span> {{queen.date | timestamp}}
        </mat-list-item>
        <mat-list-item role="listitem">
          <span>Marked</span> <mat-slide-toggle [checked]="queen.isMarked" [disabled]="true"></mat-slide-toggle>
        </mat-list-item>
        <mat-list-item role="listitem" *ngIf="queen.remarks">
          Remarks <br>
          {{queen.remarks}}
        </mat-list-item>
      </mat-list>

    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button (click)="back()">back</button>
      <button mat-stroked-button (click)="navigateToEdit(queenId)">edit</button>
      <button mat-stroked-button color="warn" (click)="deleteQueen(queen)">delete</button>
    </mat-card-actions>
  </mat-card>


</ng-container>
