<form [formGroup]="form">

  <evb-formcontrol>
    <label for="username">username *</label>
    <input type="text" formControlName="username" id="username" />
  </evb-formcontrol>

  <evb-formcontrol>
    <label for="name">password *</label>
    <input type="password" formControlName="password" id="password" />
  </evb-formcontrol>

  <evb-button-bar justify="right">
    <evb-button type="link" (click)="cancel()">cancel</evb-button>
    <evb-button type="submit" (click)="submit()" [disabled]="form.invalid || form.pristine">login</evb-button>
  </evb-button-bar>

</form>
