
:host {
  min-width: 320px;
  max-width: 480px;
  text-align: center;
}

mat-card-header {
  margin: 1rem 0;
}

mat-icon[svgIcon="beez"] {
  height: 6rem;
  width: 6rem;
}

mat-icon[svgIcon="google"] {
  height: 3rem;
  width: 3rem;
}
