<evb-header heading="1"> <evb-icon name="hive" size="fit"></evb-icon> <span>Hives</span>  </evb-header>

<evb-button type="link" routerLink="./create">add</evb-button>

<evb-list>
  <evb-list-item *ngFor="let hive of hives$ |async; trackBy: trackHive">
    {{hive.name}} {{hive.number}}

    <evb-button-bar justify="right">
      <evb-button type="icon" variant="primary" ghost="true" (click)="edit(hive)">
        <evb-icon name="edit"></evb-icon>
      </evb-button>
      <evb-button type="icon" variant="danger" ghost="true" (click)="delete(hive)">
        <evb-icon name="delete"></evb-icon>
      </evb-button>
    </evb-button-bar>

  </evb-list-item>
</evb-list>
