li {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: .5rem 0;
}
li:hover {
  background-color: rgba(0, 255, 0, .2);
  cursor: pointer;
}

.queen-color {
  display: inline-block;
  height: 1em;
  width: 1em;
}
