<form [formGroup]="form">

  <input type="hidden" formControlName="id" />

  <evb-formcontrol>
    <label for="name">name</label>
    <input type="text" formControlName="name" id="name" />
  </evb-formcontrol>

  <evb-formcontrol>
    <label for="long">longitude</label>
    <input type="number" formControlName="long" id="long" />
  </evb-formcontrol>

  <evb-formcontrol>
    <label for="lat">latitude</label>
    <input type="number" formControlName="lat" id="lat" />
  </evb-formcontrol>

  <evb-button-bar>
    <evb-button type="link" (click)="cancelEvent.emit()">cancel</evb-button>
    <evb-button (click)="save()" [disabled]="form.invalid || form.pristine">save</evb-button>
  </evb-button-bar>

</form>
