.mat-form-field, .form-field {
  display: flex;
  padding: 1rem 0;
  width: 100%;
}
.mat-form-field mat-label {
  align-self: center;
  display: inline-flex;
  width: 150px;
}
.mat-form-field mat-slider {
  max-width: 320px;
  width: 100%;
}
textarea {
  height: 10rem;
  width: 100%;
}
