<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{'inspection' | i18nextCap}}
      <input matInput [formControl]="timestamp" [matDatepicker]="picker" class="timestamp-input">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker touchUi disabled="false"></mat-datepicker>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-vertical-stepper [linear]="true" #stepper>

      <mat-step [stepControl]="honeySuperGroup">
        <ng-template matStepLabel>{{'honeySuper' | i18nextCap}}</ng-template>
        <form [formGroup]="honeySuperGroup">
          <div class="form-field">
            <mat-form-field>
              <mat-label>{{'honey' | i18nextCap}}</mat-label>
              <mat-slider max="100" min="0" step="5" tickInterval="5" thumbLabel="true" [displayWith]="formatLabel" aria-label="honey" formControlName="honey"></mat-slider>
              <textarea matInput hidden></textarea>
            </mat-form-field>
          </div>
          <div class="form-field">
            <mat-form-field>
              <mat-label>{{'honey' | i18nextCap}} {{'closed' | i18next}}</mat-label>
              <mat-slider max="100" min="0" step="5" tickInterval="5" thumbLabel="true" [displayWith]="formatLabel" aria-label="honey closed" formControlName="honeyClosed"></mat-slider>
              <textarea matInput hidden></textarea>
            </mat-form-field>
          </div>

          <bee-button-bar>
            <button mat-stroked-button color="primary" matStepperNext>{{'next' | i18nextCap}}</button>
          </bee-button-bar>
        </form>
      </mat-step>

      <mat-step [stepControl]="hiveBodyGroup">
        <ng-template matStepLabel>{{'hiveBody' | i18nextCap}}</ng-template>
        <form [formGroup]="hiveBodyGroup">

          <div class="form-field">
            <mat-form-field>
              <mat-slide-toggle formControlName="eggs">{{'egg' | i18nextCap: {count: 2} }}</mat-slide-toggle>
              <mat-hint>{{'sentence.eggsPresent' | i18next}}</mat-hint>
              <textarea matInput hidden></textarea>
            </mat-form-field>
          </div>

          <div class="form-field">
            <mat-form-field>
              <mat-slide-toggle formControlName="larva">{{'larva' | i18nextCap}}</mat-slide-toggle>
              <mat-hint>{{'sentence.openBrood' | i18next}}</mat-hint>
              <textarea matInput hidden></textarea>
            </mat-form-field>
          </div>

          <div class="form-field">
            <mat-form-field>
              <mat-slide-toggle formControlName="closedBrood">{{'closed' | i18nextCap}} {{'brood' | i18next}}</mat-slide-toggle>
              <mat-hint>{{'sentence.closedBrood' | i18next}}</mat-hint>
              <textarea matInput hidden></textarea>
            </mat-form-field>
          </div>

          <div class="form-field">
            <mat-form-field>
              <mat-slide-toggle formControlName="droneBrood">{{'drone' | i18nextCap}} {{'brood' | i18next}}</mat-slide-toggle>
              <mat-hint>{{'sentence.droneBroodPresent' | i18next}}</mat-hint>
              <textarea matInput hidden></textarea>
            </mat-form-field>
          </div>

          <div class="form-field">
            <mat-form-field>
              <mat-slide-toggle formControlName="queenBrood">{{'queen' | i18nextCap}} {{'brood' | i18next}}</mat-slide-toggle>
              <mat-hint>{{'sentence.queenBroodPresent' | i18next}}</mat-hint>
              <textarea matInput hidden></textarea>
            </mat-form-field>
          </div>

          <div class="form-field">
            <mat-form-field>
              <mat-slide-toggle formControlName="drones">{{'drone' | i18nextCap: {count:2} }}</mat-slide-toggle>
              <mat-hint>{{'sentence.dronesPresent' | i18next}}</mat-hint>
              <textarea matInput hidden></textarea>
            </mat-form-field>
          </div>

          <div class="form-field">
            <mat-form-field>
              <mat-slide-toggle formControlName="queen">{{'queen' | i18nextCap}}</mat-slide-toggle>
              <mat-hint>{{'sentence.queenPresent' | i18next}}</mat-hint>
              <textarea matInput hidden></textarea>
            </mat-form-field>
          </div>

          <div class="form-field">
            <mat-form-field floatLabel="always">
              <mat-label>Food ({{'honey' | i18next}})</mat-label>
              <mat-slider max="100" min="0" step="5" tickInterval="5" thumbLabel="true" [displayWith]="formatLabel" aria-label="food" formControlName="honeyFood"></mat-slider>
              <mat-hint>Honey present in the hive body, used as food for the bees.</mat-hint>
              <textarea matInput hidden></textarea>
            </mat-form-field>
          </div>

          <bee-button-bar>
            <button mat-stroked-button matStepperPrevious>{{'back' | i18nextCap}}</button>
            <button mat-stroked-button matStepperNext color="primary">{{'next' | i18nextCap}}</button>
          </bee-button-bar>
        </form>
      </mat-step>

      <mat-step [stepControl]="overallGroup">
        <ng-template matStepLabel>{{'overall' | i18nextCap}}</ng-template>
        <form [formGroup]="overallGroup">

          <div class="form-field">
            <mat-form-field>
              <mat-label>{{'overall' | i18nextCap}} {{'health' | i18nextCap}}</mat-label>
              <mat-slider max="100" min="0" step="5" tickInterval="5" thumbLabel="true" [displayWith]="formatLabel" aria-label="health" formControlName="health"></mat-slider>
              <textarea matInput hidden></textarea>
            </mat-form-field>
          </div>

          <div class="form-field">
            <mat-form-field>
              <mat-label>{{'remarks' | i18nextCap}}</mat-label>
              <textarea matInput formControlName="remarks" ></textarea>
            </mat-form-field>
          </div>

          <bee-button-bar>
            <button mat-stroked-button matStepperPrevious>{{'back' | i18nextCap}}</button>
            <button mat-stroked-button matStepperNext color="primary">{{'next' | i18nextCap}}</button>
          </bee-button-bar>
        </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>{{'done' | i18nextCap}}</ng-template>

          <bee-button-bar>
            <button mat-stroked-button matStepperPrevious>{{'back' | i18nextCap}}</button>
            <button mat-stroked-button color="primary" (click)="submit()">{{'done' | i18nextCap}}</button>
          </bee-button-bar>

      </mat-step>
    </mat-vertical-stepper>
  </mat-card-content>

</mat-card>
