/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media print {
  body { background-color: #fff; }
  .qr-print-class bee-root, .qr-print-class .splash-beez {
    display: none;
  }
}
