<mat-card>
  <mat-card-header>
    <mat-card-title>{{'my' | i18nextCap}} {{'dashboard' | i18next}}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-grid-list cols="2" rowHeight="1:1">
      <mat-grid-tile routerLink="scanner" colspan="2"><mat-icon svgIcon="qr-code"></mat-icon></mat-grid-tile>
      <mat-grid-tile routerLink="hives"><mat-icon svgIcon="beehive"></mat-icon></mat-grid-tile>
      <mat-grid-tile routerLink="queens"><mat-icon svgIcon="queen"></mat-icon></mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
